# IOT QUIZ

Q1) Python program to print all odd numbers in a list.

In [4]:
List1=[1,2,3,4,5,6,7,8,9]
for num in List1:
  if num % 2 != 0:
    print(num, end=" ")

1 3 5 7 9

Q2) Python program to find the sum of list elements.

In [9]:
total=0
List1=[1,2,3,4,5,6,7,8,9]
for num in range(0,len(List1)):
  total= total+List1[num]
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  45

Q3) Python program to reverse a list in two ways.

In [18]:
List1=[1,2,3,4,5,6,7,8,9]
List1.reverse()
print(" reverse ", List1)
print("reverse", List1[::-1])

 reverse  [9, 8, 7, 6, 5, 4, 3, 2, 1]
reverse [1, 2, 3, 4, 5, 6, 7, 8, 9]

Q4) Python program to find the top two maximum
numbers in a list.

In [66]:
List1=[1,2,3,4,5,6,7,8,9]
top2_maximum = []
temp = numbers.copy()
for i in range(2):
  maximum = max(temp)
  top2_maximum.append(maximum)
  temp.pop()
print("top 2 maximum = ",top2_maximum)

top 2 maximum =  [9, 8]

Q5) Write a program in Python to find the second highest
number in an integer list

In [40]:
temp = numbers.copy()
temp.pop()
print("second maximum number = ",max(temp))

second maximum number =  8

Q6) Python program to sort characters in descending
order.

In [48]:
List1=[1,2,3,4,5,6,7,8,9]

List1.sort()
List1.reverse()

print('List Items After Sorting in Descending Order')
print(List1)

List Items After Sorting in Descending Order
[9, 8, 7, 6, 5, 4, 3, 2, 1]

Q7) Python program to remove repeated characters from a
string.

In [50]:
string="Kanwarzain"
p=""
for char in string:
    if char not in p:
        p=p+char
print(p)
k=list("Kanwarzain")

Kanwrzi

Q8) Python program to check if a given character is a
vowel or consonant.

In [64]:
def vowelOrConsonant(x):
 
    if (x == 'a' or x == 'e' or
        x == 'i' or x == 'o' or x == 'u'):
        print("Vowel")
    else:
        print("Consonant")
 
# Driver code
vowelOrConsonant('c')
vowelOrConsonant('e')

Consonant
Vowel

Q9) Python Program to calculate factorial.

In [54]:
def fact(n):
    if n < 0:
        return 'Factorial does not exist'
    elif n == 0:
        return 1
    else:
        return n * fact(n-1)
 
num = int(input())
print(fact(num))

5
120

Q10) Python Program to merge two lists.

In [62]:
list1 = [1,2,3]
list2 = [4,5,6]

list3 = list1 + list2
print(list3)

[1, 2, 3, 4, 5, 6]